.contact {
    padding-bottom: 2rem;

    &-bio-image {
        height: 55vh;
        width: 100%;
        background:
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
        url(../Images/model-1.jpg) center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .text-secondary-color {
            font-size: 2rem;
            margin: 0 auto 2rem;
            width: 60%;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 2% auto 0;
        row-gap: 20px;

        .text-secondary-color {
            margin-top: 5px;
        }
    }
}